<div class="container-fluid">
<div class="row">
<div class="col-md-6" *ngIf="compte">
<div class="panel-default">
    <div class="panel-heading">Compte détails</div>
    <div class="panel-body">


        <div class="card"  >
       
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> Numéro compte :  {{compte.numCompte}}</li>
              <li class="list-group-item">Date création : {{compte.dateCreation}}</li>
              <li class="list-group-item"> Votre solde :  {{compte.solde}} DT</li>
              
            </ul>
          </div>
    </div>



  
</div>
</div>

<div class="col-md-6" *ngIf="mouvements">
    <div class="panel-default">
        <div class="panel-heading">Liste des mouvements</div>
        <div class="panel-body">
            <div class="card"   *ngFor="let mvt of mouvements" style="width: 100%;">
       
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> Référence : {{mvt.ctrl}}</li>
                  <li class="list-group-item">Montant : {{mvt.montantMvt}} DT</li>
                  <li class="list-group-item">Libellé : {{mvt.nomterme}}</li>
                  <li class="list-group-item"> Date mouvement : {{mvt.mvtDate}}</li>
                </ul>
              </div>
        </div>
    </div>
    
   
</div>

    
 

</div>




</div>









